*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* share style start */
.btn {
 background-color: #30B868;
 width: 164px;
 height: 44px;
 border: none;
 border-radius: 4px;
 font-size: 16px;
 font-weight: bold;
 color: white;
 
}

.peragraf{
    color: white;
    margin-top: 15px;
    margin-bottom: 25px;
}

/* share style end*/


header{
    padding-top: 50px;
}

nav{
    width: 90%;
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 139px;
    height: 60px;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    
}

nav .menu a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;

}



/* hero section start */
#hero{
    height: 674px;
    max-width: 1600px;
    background-image: url('/assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.heading-color{
    color: #30B868;
}
h1{
    color: white;
    font-weight: bolder;
    font-size: 60px;
}

.hero-content{
    
    width: 90%;
    max-width: 1600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
    
}

.heding-title{
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.early{
    margin-top: 100px;
    margin-bottom: 40px;
    width: 230px;
    height: 36px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #30B868;
    font-size: 16px;
    font-weight: bold;

    
}

.building{
    width: 251px;
    height: 52px;
    background-color: #30B868;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    align-items: center;
    margin: auto;
    font-weight: bold;
}
.Works{
    width: 251px;
    height: 52px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: 1px solid;
    border-radius: 5px;
    align-items: center;
    margin: auto;
    font-weight: bold;
}
/* hero section end */


/* main section start */

 .structure{
    background-color: rgb(248, 243, 236);
    height: 448px; 
 }

 .main-heading{
    margin-top: 100px;
    margin: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-bottom: 0;
    padding-top: 40px;
    font-size: 20px;
 }


.card-container{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 20px auto;
    gap: 10px;
}
.card{
    border: 1px solid;
    width: 322px;
    height: 300px;
    background-color: white;
    border: none;
    border-radius: 10px;
    justify-items: center;
}

.icon-bg{
    background-color: #F95555;
    border-radius: 45px;
    width: 60px;
    padding: 10px;
    margin: 0%;
    display: flex;
    margin: 35px auto;
    
}
.caption{
    font-size: 12px;
    margin-top: 15px;
    justify-items: center;
    align-items: center;
    padding: 15px;
}


/* brain section start */

.brain-container{
    width: auto;
    
    background-color: rgb(248, 243, 236);
    
    

    
}
.brain-content{
    width: 90%;
    
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.brain-img{
    width: 40%;
}
.text-content{
    
    width: 50%;
    
}


.card-headig{
    color: #30B868;
    margin-top: 50px;
    font-weight: bold;
    font-size: 20px;
}
.braing-heading{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

.checkbox{
    margin-top: 30px;
    font-size: 20px;
    
    
    
}
/* brain section end */



/* Early Access section start */

.early-access-container{
    height: 400px;
    
    width: 90%;
    margin: auto;
    background-color: aliceblue;
    border-radius: 5px;
}
.early-content{
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    
}
.early-caption{
    margin-bottom: 25px;
}
.early-endline{
    margin-top: 20px;
}


/* Early Access section end */





/* footer section start */
.footer-container{
    background-color: rgb(1, 1, 26);
    height: 200px;
}
.footer{
    
    justify-content: space-between;
    display: flex;
    padding: 30px;
    width: 90%;
    margin: auto;


}
.footer-link{
   width: 90%;
  
   
}

h4{
    color: white;
    font-size: 20px;
}
.social-media{
    width: 20px;
    
}
.social-icon{
    justify-content: space-around;
    display: flex;
    margin-top: 15px;
}
.copyright{
    margin-top: 100px;
    color: white;
    margin: auto;
    justify-content: center;
    display: flex;
    margin-bottom: 0;
}
/* footer section end */



/* hover */


.btn:hover{
    background-color: white;
    color: #30B868;
    border: 1px solid;
    transition-duration: 1s;
}
.building:hover{
    background-color: white;
    color: #30B868;
    border: 1px solid;
    transition-duration: 1s;
}

.Works:hover{
    background-color: white;
    color: #30B868;
    border: 1px solid;
    transition-duration: 1s;
}